.search__input-container {
  position: relative;
  padding: 10px 15px;

  & span {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 40px;
    color: var(--main-text-color);
    pointer-events: none;
  }
}

.search__ingridients {
  position: relative;
  width: 600px;
  border: 1px solid var(--border-deep-color);
  border-radius: 25px;
  background-color: var(--background-deep-light);
  padding: 10px;
  font-size: 16px;
  color: var(--main-text-color);
  font-weight: 100;
  letter-spacing: 1.2px;
  transition: border-color 0.3s ease-in-out;

  &:focus-visible {
    border: 1px solid var(--second-color);
    border-radius: 10px;
    outline: none;
  }

  &::placeholder {
    color: var(main-text-color);
    font-family: "Mulish", sans-serif;
  }
}

.search__type {
  position: absolute;
  right: 60px;
  top: 14px;
  background-color: inherit;
  border: none;
  color: #c17ef8;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1.2px;
  outline: 0;
  padding: 5px 10px;
  font-family: "Mulish", sans-serif;
  border-radius: 10px;

  & option {
    background-color: var(--background-deep-light);
  }
}

.search__add {
  padding: 10px 15px;
}