.ingridients_h1 {
  display: none;
}

.table__contaner {
  position: relative;
  display: grid;
  grid-template-columns: 25% 15% 5% 15% 20% 20%;
  background-color: var(--background-deep-light);
  padding: 5px 0;
  margin-bottom: 15px;
  transition: transform 0.4s ease-out;
  border-radius: 5px;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
  }

  &:hover {
    transform: translate(-15px, -5px);
    color: #fff;

    &::after {
      width: 25%;
    }

    & .table__item.name {
      font-size: 18px;
    }

  }

  & .table__item {
    border-right: 1px var(--border-deep-color) solid;
    text-wrap: wrap;
    padding: 5px;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.3px;
    transition: font-size 0.2s ease-in-out, color 0.4s ease-in-out;

    &.name {
      font-size: 16px;
      display: flex;
      align-items: center;
      font-weight: 400;
      letter-spacing: 0.8px;
      padding-left: 15px;
      transition: font-size 0.2s ease-in-out, color 0.4s ease-in-out;
    }

    &:last-child {
      border-right: none;
    }

  }
}